[[extend 'layout.html']]

<style>
   [v-cloak] {
      display: none;
   }

   .blue-background{
      background-color: lightskyblue;
      color: white  !important;
      text-align: center !important;
      
   }

   .row-title{
      background-color: lightgray;
   }
   
   .custom-tile{
      background-color: white;
   }


</style>

<div class="section" id="vue-target" v-cloak>

   <!-- This view is temporary, just used for debugging purposes -->
   <div v-if="view === 0">
      <h1 class="title">This is view 0</h1>
      <p>This view is temporary</p>
      <p>This is matching {{matching_name}}</p>
      <p>There are {{num_quarters}} quarters with names: {{quarter_names}}</p>

      <div v-if="add_class_mode" class="container block">
         <div class="title">Add Class</div>
         <div class="form">
            <div class="field">
               <label class="label">Name:</label>
               <div class="control">
                  <input type="text" v-model="add_class_name" class="input">
               </div>
            </div>
            <div class="field">
               <label class="label">Description:</label>
               <div class="control">
                  <input type="text" v-model="add_class_description" class="input">
               </div>
            </div>
            <label class="label">Number of sections:</label>
            <div v-for="(q, idx) in quarter_names" class="field">
               <label class="label">{{q}}</label>
               <div class="control">
                  <input type="number" v-model="add_class_num_sections[idx]" class="input">
               </div>
            </div>
            <div class="field">
               <div class="control">
                  <input type="submit" @click="add_class()" value="Add" class="button is-primary">
                  <input type="submit" @click="set_add_class_status(false)" value="Cancel" class="button is-warning">
               </div>
            </div>
         </div>
      </div>

      <div class="container block">
         <h1 class="title">Classes</h1>
         <table class="table is-striped is-fullwidth">
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Description</th>
               <th>Number of sections</th>
               <th>Created on</th>
               <th></th>
            </tr>
            <tr v-for="(c, idx) in classes">
               <td
                  v-for="field in ['id', 'name', 'description', 'num_sections', 'created_on']">
                  {{c[field]}}
               </td>
               <td>
                  <button @click="delete_class(idx)" class="button is-danger">
                     <i class="fa fa-trash"></i></button>
                  <button @click="" class="button is-warning">
                     <i class="fa fa-edit"></i></button>
               </td>
            </tr>
         </table>
         <button @click="set_add_class_status(true)" class="button is-primary">
            <i class="fa fa-plus fa-fw"></i> Add Class
         </button>
      </div>

      <div v-if="add_professor_mode" class="container block">
         <div class="title">Add Professor</div>
         <div class="form">
            <div class="field">
               <label class="label">Name:</label>
               <div class="control">
                  <input type="text" v-model="add_professor_name" class="input">
               </div>
            </div>
            <div class="field">
               <label class="label">Description:</label>
               <div class="control">
                  <input type="text" v-model="add_professor_description" class="input">
               </div>
            </div>
            <div v-for="(q, idx) in quarter_names" class="field">
               <label class="label">{{q}}</label>
               <div class="select is-multiple">
                  <select multiple v-model="add_professor_classes[idx]">
                     <option v-for="c in classes" :value="c.id">{{ c.name }}</option>
                  </select>
               </div>
            </div>
            <div class="field">
               <div class="control">
                  <input type="submit" @click="add_professor()" value="Add" class="button is-primary">
                  <input type="submit" @click="set_add_professor_status(false)" value="Cancel" class="button is-warning">
               </div>
            </div>
         </div>
      </div>

      <div class="container block">
         <h1 class="title">Professors</h1>
         <table class="table is-striped is-fullwidth">
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Description</th>
               <th>Requested classes</th>
               <th>Created on</th>
               <th></th>
            </tr>
            <tr v-for="(p, idx) in professors">
               <td
                  v-for="field in ['id', 'name', 'description', 'requested_classes', 'created_on']">
                  {{p[field]}}
               </td>
               <td>
                  <button @click="delete_professor(idx)" class="button is-danger">
                     <i class="fa fa-trash"></i></button>
                  <button @click="" class="button is-warning">
                     <i class="fa fa-edit"></i></button>
               </td>
            </tr>
         </table>
         <button @click="set_add_professor_status(true)" class="button is-primary">
            <i class="fa fa-plus fa-fw"></i> Add Professor
         </button>
      </div>

      <div class="container block">
         <div v-if="add_match_mode" class="container block">
            <div class="title">Add Match</div>
            <div class="form">
               <div class="field">
                  <label class="label">Class:</label>
                  <div class="select">
                     <select v-model="add_match_class">
                        <option v-for="(c, idx) in classes" :value="idx">{{ c.name }}</option>
                     </select>
                  </div>
               </div>
               <div class="field">
                  <label class="label">Professor:</label>
                  <div class="select">
                     <select v-model="add_match_professor">
                        <option v-for="(p, idx) in professors" :value="idx">{{ p.name }}</option>
                     </select>
                  </div>
               </div>
               <div class="field">
                  <label class="label">Quarter:</label>
                  <div class="select">
                     <select v-model="add_match_quarter">
                        <option v-for="(q, idx) in quarter_names" :value="idx">{{ q }}</option>
                     </select>
                  </div>
               </div>
               <div class="field">
                  <div class="control">
                     <input type="submit" @click="add_match()" value="Add" class="button is-primary">
                     <input type="submit" @click="set_add_match_status(false)" value="Cancel" class="button is-warning">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container block">
         <h1 class="title">Matches</h1>
         <table class="table is-striped is-fullwidth">
            <tr>
               <th>ID</th>
               <th>Class ID</th>
               <th>Professor ID</th>
               <th>Quarter</th>
               <th>Created on</th>
               <th></th>
            </tr>
            <tr v-for="(m, idx) in matches">
               <td
                  v-for="field in ['id', 'class_id', 'professor_id', 'quarter', 'created_on']">
                  {{m[field]}}
               </td>
               <td>
                  <button @click="delete_match(idx)" class="button is-danger">
                     <i class="fa fa-trash"></i></button>
                  <button @click="" class="button is-warning">
                     <i class="fa fa-edit"></i></button>
               </td>
            </tr>
         </table>
         <button @click="set_add_match_status(true)" class="button is-primary">
            <i class="fa fa-plus fa-fw"></i> Add Match
         </button>
      </div>
   </div>

   <div v-if="view === 1">
      <h1 class="title">This is view 1</h1>

      <div class="columns">
         <div class="column">
            <h1 class="title">Classes</h1>
            <div v-for="(c, idx) in classes" class="panel">
               <div class="panel-heading" @click="left_sel == c.id ? left_sel = 0 : left_sel = c.id">
                  <span class="icon" v-if="left_sel == c.id"><i class="fa fa-chevron-down"></i></span>
                  <span class="icon" v-else><i class="fa fa-chevron-right"></i></span>
                  <span>{{c.name}}</span>
               </div>
               <div class="panel-block" v-show="left_sel == c.id">
                  <div class="columns control is-mobile">
                     <div class="column is-3">
                        <input class="input is-static has-text-weight-bold" value="Quarter" readonly>
                        <input v-for="quarter in quarter_names" class="input is-static" :value="quarter" readonly>
                     </div>
                     <div class="column is-3">
                        <input class="input is-static has-text-weight-bold" value="Sections" readonly>
                        <input type="number" v-for="(_, idx) in quarter_names" class="input" type="text" v-model="c.num_sections[idx]">
                     </div>
                     <div class="column">
                        <button @click="delete_class(idx)" class="button is-danger is-pulled-right">
                           <span class="icon"><i class="fa fa-trash"></i></span><span>Remove Class</span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <button class="button is-primary" @click="set_add_class_status(true)">
               <span class="icon"><i class="fa fa-plus-circle"></i></span><span> Add Class</span>
            </button>
            <div class="modal" :class="{ 'is-active': add_class_mode }">
               <div class="modal-background"></div>
               <div class="modal-content">
                  <div class="box">
                     <div class="title">Add Class</div>
                     <div class="form">
                        <div class="field">
                           <label class="label">Name:</label>
                           <div class="control">
                              <input type="text" v-model="add_class_name" class="input">
                           </div>
                        </div>
                        <div class="field">
                           <label class="label">Description:</label>
                           <div class="control">
                              <input type="text" v-model="add_class_description" class="input">
                           </div>
                        </div>
                        <label class="label">Number of sections:</label>
                        <div v-for="(q, idx) in quarter_names" class="field">
                           <div class="control">
                              <label class="label">{{q}}</label>
                              <input type="number" v-model="add_class_num_sections[idx]" class="input">
                           </div>
                        </div>
                        <div class="field">
                           <div class="control">
                              <input type="submit" @click="add_class()" value="Add" class="button is-primary">
                              <input type="submit" @click="set_add_class_status(false)" value="Cancel"
                                     class="button is-warning">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <button class="modal-close is-large" aria-label="close" @click="set_add_class_status(false)"></button>
            </div>
         </div>
         <div class="column">
            <h1 class="title">Professors</h1>
            <div v-for="(p, idx) in professors" class="panel">
               <div class="panel-heading" @click="right_sel == p.id ? right_sel = 0 : right_sel = p.id">
                  <span class="icon" v-if="right_sel == p.id"><i class="fa fa-chevron-down"></i></span>
                  <span class="icon" v-else><i class="fa fa-chevron-right"></i></span>
                  <span>{{p.name}}</span>
               </div>
               <div class="panel-block" v-show="right_sel == p.id">
                  <div class="columns control is-mobile">
                     <div class="column is-3">
                        <input class="input is-static has-text-weight-bold" value="Quarter" readonly>
                        <input v-for="quarter in quarter_names" class="input is-static" :value="quarter" readonly>
                     </div>
                     <div class="column is-4">
                        <input class="input is-static has-text-weight-bold" value="Courses" readonly>
                        <div v-for="(q, idx2) in quarter_names" class="field">
                           <label class="label">{{q}}</label>
                           <div class="select is-multiple">
                              <select multiple v-model="professors[idx].requested_classes[idx2]">
                                 <option v-for="c in classes" :value="c.id">{{ c.name }}</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="column is-warning">
                        <button @click="delete_professor(idx)" class="button is-danger is-pulled-right">
                           <span class="icon"><i class="fa fa-trash"></i></span><span>Remove Professor</span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <button class="button is-primary" @click="set_add_professor_status(true)">
               <span class="icon"><i class="fa fa-plus-circle"></i></span><span>Add Professor</span>
            </button>
            <div class="modal" :class="{ 'is-active': add_professor_mode }">
               <div class="modal-background"></div>
               <div class="modal-content">
                  <div class="box">
                     <div class="title">Add Professor</div>
                     <div class="form">
                        <div class="field">
                           <label class="label">Name:</label>
                           <div class="control">
                              <input type="text" v-model="add_professor_name" class="input">
                           </div>
                        </div>
                        <div class="field">
                           <label class="label">Description:</label>
                           <div class="control">
                              <input type="text" v-model="add_professor_description" class="input">
                           </div>
                        </div>
                        <div v-for="(q, idx) in quarter_names" class="field">
                           <label class="label">{{q}}</label>
                           <div class="select is-multiple">
                              <select multiple v-model="add_professor_classes[idx]">
                                 <option v-for="c in classes" :value="c.id">{{ c.name }}</option>
                              </select>
                           </div>
                        </div>
                        <div class="field">
                           <div class="control">
                              <input type="submit" @click="add_professor()" value="Add" class="button is-primary">
                              <input type="submit" @click="set_add_professor_status(false)" value="Cancel"
                                     class="button is-warning">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <button class="modal-close is-large" aria-label="close" @click="set_add_professor_status(false)"></button>
            </div>
         </div>
      </div>

   </div>

   <div v-if="view === 2">
      <h1 class="title">This is view 2</h1>
      <!-- Insert content of view 2 here -->
      <div class="container">
         <table class ="table is-striped is-fullwidth">
            <thead>
               <tr class="is-flex is-justify-content-space-between">
                  <th v-for="q in quarter_names" class="blue-background has-text-centered">
                        {{q}}
                  </th>
               </tr>

            </thead>
            <tbody>
                  <tr v-for="c in classes">
                     <td v-for="field in ['name']" class="row-title" :colspan="num_quarters" :key="update_dropdown_menu">
                     
                        {{c[field]}} 
                        
                        <table class="table is-striped is-fullwidth">
                           <tr>
                              <td v-for="q in quarter_names" style="text-align: center; background-color: wheat;">
                                 <div class="tile is-ancestor">
                                    <div class="tile" @mouseenter="hover_dropdown_menu(c.id + q)" @mouseleave="unhover_dropdown_menu(c.id + q)"> 
                                       <div class="tile is-parent is-vertical">
                                          <div class="tile is-child box notification custom-tile" v-for="p in professors"> 
                                                <p>{{p.name}}</p>
                                                <button class="button is-danger" @click="delete_match"> <!---@click="delete_matching"-->
                                                   <span class="icon is-small">
                                                      <i class="fa fa-times"></i>
                                                   </span>
                                                </button>
                                          </div>

                                          <div class="tile is-child" v-if="hovered_class_term[c.id + q]">
                                             <div class="dropdown" @mouseenter="dropdown_hover = true" @mouseleave="dropdown_hover = false" :class="{ 'is-active': dropdown_hover}">
                                                <div class="dropdown-trigger">
                                                   <button class="button is-link" aria-haspopup="true" aria-controls="dropdown-menu3">
                                                      <span><i class="fa fa-plus"> Add Professor</i></span>
                                                      <span class="icon is-small">
                                                         <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                      </span>
                                                   </button>
                                                </div>
                                                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                                <div class="dropdown-content">
                                                   <div class="dropdown-item" v-for="p in professors">
                                                      <p>{{p.name}}</p>
                                                   </div>
                                                </div>
                                                </div>
                                             </div>
                                          </div>

                                       </div>
                                    </div>
                                 </div>
                                
                              </td>

                           </tr>


                        </table>
                        
                        
                     </td>
                     
                     
                  </tr>
                     
                  

            </tbody>



         </table>

      </div>


   </div>

   <div v-if="view === 3">
      <h1 class="title">This is view 3</h1>
      <!-- Insert content of view 3 here -->

      <div class="container">
         <table class ="table is-striped is-fullwidth">
            <thead>
               <tr class="is-flex is-justify-content-space-between">
                  <th v-for="q in quarter_names" class="blue-background has-text-centered":key="q">
                        {{q}}
                  </th>
               </tr>

            </thead>
            <tbody>
                  <tr v-for="p in professors" :key="p">
                     <td v-for="field in ['name']" class="row-title" :colspan="num_quarters":key="field">
                     
                        {{p[field]}} 
                        
                        <table class="table is-striped is-fullwidth">
                           <tr>
                              <td v-for="q in quarter_names" style="text-align: center; background-color: wheat;">
                              </td>

                           </tr>


                        </table>
                        
                        
                     </td>
                     
                     
                  </tr>
                     
                  

            </tbody>



         </table>

      </div>

   </div>
</div>

<!-- Places view buttons on navbar located in layout -->
[[block page_menu_items]] 
   <div class="navbar-item ml-3" id="app_view">
      <div class="navbar-item">
         <button id="view_zero" class="button is_normal is-responsive is-rounded is-dark is-outlined is-inverted" @click="change_view(0)">View 0</button>
      </div>
      <div class="navbar-item">
         <button id="view_one" class="button is_normal is-responsive is-rounded is-dark is-outlined is-inverted" @click="change_view(1)">View 1</button>
      </div>
      <div class="navbar-item">
         <button id="view_two" class="button is_normal is-responsive is-rounded is-dark is-outlined is-inverted" @click="change_view(2)">View 2</button>
      </div>
      <div class="navbar-item">
         <button id="view_three" class="button is_normal is-responsive is-rounded is-dark is-outlined is-inverted" @click="change_view(3)">View 3</button>
      </div>
   </div>
[[end]]

<!-- Places search bar on navbar located in layout-->
[[block page_menu_items_search]]
      <div class="navbar-item" id="app_search">
         <p class="control has-icons-right">
         <input class="input" type="text" placeholder="Search">
         <span class="icon is-right">
            <i class="fa fa-search"></i>
         </span>
         </p>
      </div>
[[end]]

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
   const my_id = "[[=my_id]]";
   const matching_id = "[[=matching_id]]";
   const load_my_matching_url = "[[=XML(load_my_matching_url)]]";
   const add_class_url = "[[=XML(add_class_url)]]";
   const delete_class_url = "[[=XML(delete_class_url)]]";
   const add_professor_url = "[[=XML(add_professor_url)]]";
   const delete_professor_url = "[[=XML(delete_professor_url)]]";
   const add_match_url = "[[=XML(add_match_url)]]";
   const delete_match_url = "[[=XML(delete_match_url)]]";
</script>
<script src="js/matching.js"></script>
[[end]]